{% extends "base.html" %}

{% block title%}
  DOSPADEL - all products
{% endblock %}

{% block activeallproducts %}
  class="active"
{% endblock activeallproducts %}


{% block content %}
{{ super() }}
<div class="row-fluid" id="content-bar">
  <div class="row-fluid">
     
    <table class="table table-striped">
      {% for product in products %}
      <tr><td><a href="/product/{{product.nm}}">{{product.nm}}</a></td><td>{{product.desc}}</td></tr>
      {% endfor %}
    </table>
    
    <div class="row-fluid">
	{% for product in founded  %}
	<div class="span2">
	  <img class="img-rounded" src='/product/{{ product.nm }}/img'/>
	  <p><a href = product/{{ product.nm }}>{{ product.nm }}</a></p>
	  <p>{{ product.desc }}</p>
	</div>
	{% endfor %}
    </div>
  </div>
</div>

{% endblock content %}


{% block page_header %}
<h1>All products<small></small></h1>
{% endblock page_header %}

{% block breadcrumb%}
<li><a href="/">Home</a><span class="divider">/</span></li>
<li class="active">Products</li>
{% endblock breadcrumb %}
