{% extends "base.html" %}

{% block title %}
  DOSPADEL
{% endblock %}



{% block activehome %}
  class="active"
{% endblock activehome %}



{% block content %}
{{ super() }}
<div class="row-fluid" id="content-bar">
  <div class="row-fluid">

    {% block search %}
    <form class="form-search" method="GET" action=".">
      <fieldset>
	<input type="text" class="input-medium search-query" placeholder="search..." name='searched'/>
	<button type="submit" class="btn">Search</button>
      </fieldset>
    </form>
    {% endblock search %}

    {% block product_grid %}
    {# Mostrar productos en columnas de 4 #}
    {% set i = 3 %}
    {% for product in founded  %}
    {% set i = i + 1 %}
    {% if i > 3 %}
    {% set i = 0 %}
    <div class="row-fluid">
      {% endif %}
      <div class="span3">
	<img class="img-rounded" src='/product/{{ product.nm }}/img'/>
	<p><a href = product/{{ product.nm }}>{{ product.nm }}</a></p>
	  <p>{{ product.desc }}</p>
      </div>
      {% if i == 3 %}
        </div>
      {% endif %}
   {% endfor %}
   {% endblock product_grid %}
  </div>
</div>
{% endblock content %}


{% block page_header %}
<h1>Home<small>Reserva online!</small></h1>
{% endblock page_header %}

{% block breadcrumb%}
<li class="active">Home</li>
{% endblock breadcrumb %}
