<html>
<head>
<title></title></head>
<body>

<p>
{{ nickname }}<a href="{{ url }}">{{ url_text }}</a>
</p>

<form method="GET" action=".">
  <input type="text" name='searched'/>
  <input type="submit" value="search"/>
</form>

<div>
{% for product in founded  %}
<p><a href = product/{{ product.nm }}>{{ product.nm }}</a></p>
<p>{{ product.desc }}</p>
{% endfor %}
</div>

<div>
  <p><a href="/new_product">Nuevo producto (admin)</a></p>
  <p><a href="/reserves">Mis reservas</a></p>
  <p><a href="/products">Todos los productos</a></p>
</div>

</body>
</html>
