{% extends "base.html" %}

{% block title%}
  DOSPADEL
{% endblock %}

{% block activemyreserves %}
  class="active"
{% endblock activemyreserves %}

{% block content %}
{{ super() }}
<div class="row-fluid" id="content-bar">
  <div class="row-fluid">
    {% block reserves %}
    <table class="table">
      {% for reserve in reserves %}
      <tr>
	<td>{{reserve.product.nm}}</td>
	<td>{{reserve.dt}}</td>
  <td>{{reserve.product.price}}</td>
  <td>{{reserve.status}}</td>
	<td><a href="/reserves/{{reserve.paykey}}">Detalle</a></td>
      </tr>
      {% endfor %}
    </table>
    {% endblock reserves %}
  </div>
</div>
{% endblock content %}


{% block page_header %}
<h1>My reserves<small></small></h1>
{% endblock page_header %}

{% block breadcrumb%}
<li><a href="/user">User</a><span class="divider">/</span></li>
<li class="active">My reserves</li>
{% endblock breadcrumb %}
