{% extends "base.html" %}

{% block title %}
Nuevo producto
{% endblock title %}


{% block activenewproduct %}
  class="active"
{% endblock activenewproduct %}


{% block content%}
{{ super() }}

<div class="row-fluid">
  <div class="row-fluid">

    <form class="form-horizontal" action="{{upload_url}}" enctype="multipart/form-data" method="POST">
      <div class="control-group">
	<label class="control-label">Name</label>
	<div class="controls">
	  <input type="text" id="inputName" name="nm" placeholder="name">
	</div>
      </div>
      <div class="control-group">
	<label class="control-label">Descripcion</label>
	<div class="controls">
	  <textarea rows="3" name="desc" placeholder="descripcion"></textarea>
	</div>
    </div>
      <div class="control-group">
	<label class="control-label">Tags</label>
	<div class="controls">
	  <textarea rows="3" name="tags" placeholder="tags"></textarea>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label">Price</label>
	<div class="controls">
	  <input type="text"  name="price" placeholder="price/hour"></textarea>
	</div>
      </div>

      <div class="control-group">
	<label class="control-label">Avatar</label>
	<div class="controls">
	  <input type="file" name="img">      
	</div>
      </div>
      <div class="control-group">
	<div class="controls">
	  <button type="submit" class="btn">Save</button>      
	</div>
      </div>
    </form>
  
  </div>
</div>
{% endblock content %}




{% block page_header %}
<h1>Nuevo producto<small></small></h1>
{% endblock page_header %}

{% block breadcrumb%}
<li><a href="/admin">Admin</a><span class="divider">/</span></li>
<li class="active">New product</li>
{% endblock breadcrumb %}
